*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Calibri;
    background: url("images/beer_tasting.jpg") no-repeat center;
    background-size: cover;
    height: calc(140vh);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgba(63, 63, 63, 0.3);
    height: 60px;
    width: 100%;
}

img.logo{
    cursor: pointer;
}


.top ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}

.top ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}

.top ul li a{
    color: #e4e3e3;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Calibri;
    padding: 5px 10px;
    border-radius: 5px;
}

a.active,.top a:hover{
    background: rgb(179, 70, 7);
    transition: .5s;
}


nav.social{
    position: fixed;
    top: 20%;
}

.social ul{
    list-style-type: none;
    padding: 0;
    transform: translatex(-50px);
}

.social ul li{
    display: block;
    margin: 20px;
    background-color:rgba(231, 101, 14, 0.4);
    width: 90px;
    text-align: right;
    padding: 15px;
    border-radius: 0 40px 40px 0;
}

.social ul li a i{
    margin-left: 15px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;
}

.social ul li.twitter:hover{
    background-color: #55acee;
}

.social ul li.facebook:hover{
    background-color: #3d5999;
}

.social ul li.instagram:hover{
    background-color: #e4405f;
}

.social ul li.youtube:hover{
    background-color: #d80202;
}

section div{
    box-sizing: border-box;
    background-color: white;
    height: 100px;
    width: 100%;

}