*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #353434;
}

li, a, button{
    font-family: Montserrat sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
body{
    background: ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

nav{
    order: 1;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 5px 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

button:hover{
    background-color: rgba(0, 136, 169, 0.5);

}