html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url("images/55.jpg");
    background-repeat: repeat-y;
}
h1{
    background: lightskyblue;
}
.box1{
    background: rgb(255, 160, 122);
}
.box2{
    background: rgb(255, 160, 122, 0.5);
}
.box3{
    background: rgb(255, 160, 122, 0.3);
}
